body {
    background: #202028;
    color: #fff;
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
}

#tetris {
    border: solid 5px white;
    height: 90vh;
}

#controls {
    font-size: 0.5em;
    position: relative;
}