#bio{
    display:none;
    width:70vw;
    /* min-height:00px; */
    border-radius: 20px;
    margin: 0 auto;
    margin-top:20px;
    padding:10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border:dotted rgb(143, 143, 143) 2px;
}

.intro-bubble{
    /* background-color: blanchedalmond; */
    border: solid red 1px;
    border-radius: 100%;
}