#bio{
    display:none;
	/* border: 2px solid rgb(109, 109, 109);
    background-color: rgb(14, 14, 14); */
    width:600px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top:20px;
    padding:10px;
}
#close-bio-txt{
    display:none;
}
.component-nav{
    display:flex;
    justify-content: space-evenly;
}
.component-nav button{
    background-color: black;
    font-size: .8em;
    min-width:80px;
    padding:.8em;
	color: rgb(168, 168, 168);
	border: 1px solid rgb(88, 49, 49);
    text-align: center;
    border-radius: 15px;
    font-weight:bolder;
}
.component-nav button:hover{
    background-color: rgb(68, 68, 68);
	border: 1px solid rgb(255, 255, 255);
    cursor: pointer;
}
.selected{
    background-color: rgb(38, 38, 38) !important;
	border: 1px solid rgb(109, 109, 109) !important;

}
.bio-content{
	border: 2px solid rgb(255, 83, 83);
    height:350px;
    border-radius: 20px;
    margin-top:20px;
    padding:20px;
}

.skills-body i{
    font-size: 3.5em;
    padding:0.1em;
    position: relative;
    bottom:20px;

}
.skills-body div.best i{
    font-size: 4em;
    position: relative;
    bottom:20px;
}

.skills-body h4{
    position: relative;
    bottom:10px;
    left:80px;
    border-bottom: 1px solid red;
    padding-left:10px;
    width:40%;
    font-family:'Courier New', Courier, monospace;
}

.skills-body div.icons {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    margin: 0 auto;
}
.currently-learning{
    font-size: .3em;
    position:relative;
    left:350px;

}
.currently-learning i{
    bottom:0px;
    margin-left:10px;
}

/* ----resusable */

.small-w{
    width:90%;
}
.opacity{
    opacity: 0;
}