#bio{
    display:none;
    /* border: white 2px solid; */
    width:600px;
    height:300px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top:20px;
    padding:10px;
}
#close-bio-txt{
    display:none;
}
.bio{
    display:flex;
    justify-content: space-between;
}
.self{
    height:295px;
    width:48%;
    /* border: solid white 2px; */
    border-radius: 20px;
}

.athlete{
    background-image: url('../assets/longf.jpg');
    background-size:cover;
    /* background-position: 0 -40px; */
    background-repeat: no-repeat;
    filter: grayscale(100%);
    filter:brightness(30%);
}
.developer{
    background-image: url('../assets/h-webdev.jpg');
    background-size: cover;
    background-position: 0 -80px;
    background-repeat: no-repeat;
    filter: grayscale(100%);
    filter:brightness(30%);
}
.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(49, 49, 49, 0.575); */
    z-index: 99999999;
}
.self h4{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    filter:brightness(100%) !important;

}