
.calendar {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    padding: 40px;
    position: relative;
}
.loading{
    font-size: 4em;
    color:white;
}
.month{
    margin-top:20px;
}

.calendar h5 {
    position: absolute;
    top: -20px;
    border: black 2px solid;
    background-color: rgb(153, 153, 153);
    padding: 3px;
    font-size: 16px;
}

.month-header {
    text-align: center;
}

.month-header p {
    margin: 0;
}

.today {
    background-color: rgb(153, 255, 0);
}

.log-present {
    background-color: rgb(43, 43, 43);
    color: rgb(134, 134, 134);
}
.log-present:hover{
    background-color: rgb(87, 87, 87);
    cursor: pointer;
}

.displayNone {
    display: none;
}

.month-header {
    background-color: rgb(153, 153, 153);
    width: 30%;
    border: black 3px solid;
    border-bottom: none;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    background-color: rgb(117, 117, 117);
    box-shadow: 5px 10px 20px #000000;
}

thead {
    background-color: black;
    color: white;
}

td {
    border: 2px solid black;
    height: 30px;
    width: 30px;
    padding: 2px;
    text-align: center;
}

@media only screen and (max-width: 950px) {
    td{
        height:10px;
        width:10px;
    }
}