html {
    background: #1a1a1a;
    color: white;
    /* background-image: url('../assets/sunset.jpg') */
}
body{
    font-family: 'Calibri', sans-serif;
}

a{
    color:#ff00d4;
}

.nav {
    margin-top: 25px;
    text-align: center;
    border-bottom: whitesmoke 1px solid;
}

.nav a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 8px;
}

.home-btn {
    text-align: left;
    margin-left: 60px;
}

.sub-nav {
    margin-left: 40px;
}

.sub-nav a {
    font-size: 12px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    padding: 2px;
}

.content-box {
    height: 300px;
    width: 600px;
    background: #262626;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    box-shadow: 5px 10px 20px #000000;
}


.content-box h2 {
    padding-left: 20px;
    margin-left: 10px;
    padding-top: 10px;
    width: 30%;
    border-bottom: white solid 2px;
    border-bottom-width: thin;
}

.content-body {
    height: 215px;
    width: 550px;
    /* background: #4d4d4d; */
    margin-left: 25px;
}
.content-body p {
    margin-left:25px;
}
.about{
    height:400px;
    width: 600px;
}
#name{
    font-size: 2em;
    /* letter-spacing: .3px; */
    font-weight: 900;
    font-family:'Courier New', Courier, monospace;
}
.content-body ul{
    list-style: none;
}
.content-body li{
    font-size: 1em;
    letter-spacing: .3px;
    font-weight: 900;
    font-family:'Courier New', Courier, monospace;
}
.bio-point{
    margin-left:-30px;
    margin-top:20px;
    background: whitesmoke;
    color: #262626;
    width:120%;
    padding:10px;
    border:5px black solid;
}

/* utilities */
/* .big-indent{
    margin-left: 300px;
} */

/* Media Queries */
@media screen and (max-width: 650px) {
    .home-btn {
        text-align: center;
        margin-left: 0px;
        margin-top:15px;
    }
    .sub-nav {
        margin-left: 0px;
        text-align: center;
    }
    .content-box {
        height: 100%;
        width: 100%;
    }
}
