#tetris {
    height: 80%;
    /* opacity:0.1; */
    /* width:600px; */
    background:transparent;
    position:fixed; 
    top:70px;
    left:0;
    z-index:-1;
}

#controls {
    font-size: 0.5em;
}
#score{
    display:none;
    position: absolute;
    top:10px;
}